body {
    font-family: 'Roboto Mono', monospace;
    background-color: #F8F8F8;
}

a {
    color: green;
}

h1 {
    margin-top: 20px;
    font-weight: 500;
}

h3, h4 {
    font-size: large;
}

h3 {
    font-weight: 400;
}

h4 {
    font-weight: 300;
}

.img-fluid {
    max-width: 300px;
    max-height: auto;
    margin-top: 100px;
    width: 100%;
    padding: 0;
}

#links {
    padding: 20px;
}